<mat-toolbar class="flex justify-between bg-pink-400">
  <span>
    <img src="assets/img/ventas.png" class="w-8 h-8">
  </span>
  <ul class="flex gap-x-2">
    <li>
      <button mat-flat-button class="bg-pink-500 hover:text-white" routerLink="home" routerLinkActive="text-white">Home</button>
    </li>
    <li>
      <button mat-button [matMenuTriggerFor]="menu1" class="bg-pink-500 hover:text-white" routerLink="tienda" routerLinkActive="text-white">Tienda</button> 
      <mat-menu #menu1="matMenu">
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="tienda/categorias" routerLinkActive="text-white">Categorias</button>
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="tienda/marcas" routerLinkActive="text-white">Marcas</button>
      </mat-menu>
    <li>
      <button mat-button [matMenuTriggerFor]="menu2" class="bg-pink-500 hover:text-white" routerLink="cuenta" routerLinkActive="text-white">Cuenta</button> 
      <mat-menu #menu2="matMenu">
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="cuenta/direcciones" routerLinkActive="text-white">Direcciones</button>
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="cuenta/favoritos" routerLinkActive="text-white">Favoritos</button>
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="cuenta/metodo-pago" routerLinkActive="text-white">Metodo de pago</button>
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="cuenta/pedidos" routerLinkActive="text-white">Pedidos</button>
        <button mat-menu-item class="bg-pink-500 hover:text-white" routerLink="cuenta/perfil" routerLinkActive="text-white">Perfil</button>
      </mat-menu>
    </li>
    <li>
      <button mat-flat-button class="bg-pink-500 hover:text-white" routerLink="sucursales" >Sucursales</button>
    </li>
    <li>
      <button mat-flat-button class="bg-pink-500 hover:text-white" routerLink="/carrito" >Carrito</button>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
